
@{
    ViewData["Title"] = "Home Page";
}
@model List<TaskBoard>

<h1>Board de Tarefas</h1>

<div class="mt-4">
    <a href="@Url.Action("AddTask", "Task")" class="btn btn-primary">Adicionar Tarefa</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A Fazer</h2>
        <ul class="list-group">
            @foreach (var task in Model.Where(t => t.Status == TasksBoard.Models.TaskStatusEnum.ToDo))
            {
                <li class="list-group-item">@task.Description</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Em Progresso</h2>
        <ul class="list-group">
            @foreach (var task in Model.Where(t => t.Status == TasksBoard.Models.TaskStatusEnum.InProgress))
            {
                <li class="list-group-item">@task.Description</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Concluído</h2>
        <ul class="list-group">
            @foreach (var task in Model.Where(t => t.Status == TasksBoard.Models.TaskStatusEnum.Done))
            {
                <li class="list-group-item">@task.Description</li>
            }
        </ul>
    </div>
</div>
